.root {
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover, auto;
}

.results {
    -fx-background-image: url("images/results.jpg");
    -fx-background-size: cover, auto;
}

.title {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 50px;
}