.root {
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover, auto;
}

.title {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 50px;
}

.right_side {
    -fx-background-color: WHITE;
    -fx-background-radius: 15px;
}

.buttons {
    -fx-background-color: RED;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 25px;
    -fx-text-fill: BLACK;
}

.resultsTitle {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 40px;
}

.results {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 25px;
}